<div class="container">


  <div class="grid">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Pesquisar" class="p-button-raised p-button-rounded"
          icon="pi pi-search"></button>
      </div>

    </form>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-table styleClass="p-datatable-sm" [value]="pessoas" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="carregarPagina($event)">

        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th class="col-estado">Estado</th>
            <th class="col-status">Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>
              <span class="p-column-title">Nome</span>
              {{pessoa.nome}}
            </td>

            <td>
              <span class="p-column-title">Cidade</span>
              {{pessoa.endereco.cidade}}
            </td>

            <td class="col-estado">
              <span class="p-column-title">Estado</span>
              {{pessoa.endereco.estado}}
            </td>

            <!--
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade }}</td>
            <td>{{ pessoa.endereco.estado }}</td>
            -->



            <td class="col-status">
              <span class="p-column-title">Status</span>
              <a href="#" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar' " tooltipPosition="top">
                {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>

            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                class="p-button-sm p-button-rounded p-button-warning"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                class="p-button-sm p-button-rounded p-button-danger"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Cadastrar Pessoa" class="p-button-rounded" icon="pi pi-plus"></button>
  </div>

</div>
