<div class="container">
  <form action="">

    <div class="p-d-flex p-jc-center">

      <label>Vencimento</label>
      <input pInputText type="text">

      <label>Vencimento</label>
      <input pInputText type="text">


<div class="p-d-flex">
  <div class="p-mr-2">Item 1
    <label>Vencimento</label>
    <input pInputText type="text">
  </div>
  <div class="p-mr-2">Item 2
    <label>Vencimento</label>
      <input pInputText type="text">
  </div>
  <div>Item 3</div>
</div>

    </div>
  </form>

</div>
