<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h2>Novo Lançamento</h2>
      </div>

      <div class="p-d-flex">
        <div class="boxvencimento p-col-6">
          <label class="vencimento">Vencimento</label>
          <input pInputText type="text">
        </div>

        <div class="boxpagamento p-col-6">
          <label class="pagamento">Pagamento</label>
          <input pInputText type="text">
        </div>
      </div>


      <div class="boxdescricao p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>

      <div class="boxvalor p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>

      <div class="boxcategoria p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <input pInputText type="text">
      </div>

      <div class="boxpessoa p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="boxbtn p-col-12">
        <button pButton type="submit" label="Salvar" icon="pi pi-check"
          class="btnsalvar p-button-success p-button-rounded"></button>

        <button pButton type="submit" label="Cancelar" icon="pi pi-times"
          class="btncancelar p-button-danger p-button-rounded"></button>

        <button pButton type="submit" label="Novo Lançamento"
          class="btnnovolancamento p-button-rounded"></button>

      </div>

    </div>

  </form>
</div>
