<div class="container">
  <form>
    <div class="card">
      <div class="col-12">
        <h2>Novo Lançamento</h2>
      </div>

      <div class="boxselecao">
        <p-selectButton [options]="tipos" optionLabel="label" optionValue="value" #tipo></p-selectButton>
      </div>

      <div class="card">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6 lg:col-3 p-fluid">
            <label>Vencimento</label>
            <p-calendar [(ngModel)]="date1" [showIcon]="true" [inline]="false" inputId="icon" dateFormat="dd/mm/yy"
              inputId="dateformat" name="calendar1">
            </p-calendar>
          </div>

          <div class="field col-12 md:col-6 lg:col-3 p-fluid">
            <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
            <p-calendar [(ngModel)]="date2" [showIcon]="true" [inline]="false" inputId="icon" dateFormat="dd/mm/yy"
              inputId="dateformat" name="calendar2">
            </p-calendar>
          </div>

        </div>

      </div>

      <div class="card">
        <div class="formgrid grid">
          <div class="field col-8 p-fluid">
            <label>Descrição</label>
            <input pInputText type="text">
          </div>

          <div class="field col-4 p-fluid">
            <label>Valor</label>
          <p-inputNumber [(ngModel)]="valor" inputId="locale-user" [minFractionDigits]="2" mode="currency" currency="BRL" locale="pt-BR"
            placeholder="0,00"></p-inputNumber>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="formgrid grid">
          <div class="field col-6 p-fluid">
            <label>Categoria</label>
            <p-dropdown [options]="categorias" placeholder="Selecione a Categoria" optionLabel="name"
              [showClear]="true"></p-dropdown>
          </div>

          <div class="field col-6 p-fluid">
            <label>Pessoa</label>
            <p-dropdown [options]="pessoas" placeholder="Selecione a Pessoa" optionLabel="name" [showClear]="true"
              [filter]="true" filterBy="name"></p-dropdown>
          </div>
        </div>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" class="p-button-rounded"></textarea>
      </div>

      <div class="row">
        <button pButton type="submit" label="Salvar" icon="pi pi-check"
          class="btnsalvar p-button-success p-button-rounded"></button>

        <button pButton type="submit" label="Cancelar" icon="pi pi-times"
          class="btncancelar p-button-danger p-button-rounded "></button>

        <button pButton type="submit" label="Novo Lançamento" icon="pi pi-plus"
          class="float-right p-button-rounded md-6 lg-3"></button>
      </div>

    </div>

  </form>
</div>
