<div class="container">
  <form #lancamentoForm="ngForm">

    <div class="card grid">

      <div class="col-12">
        <h2>Novo Lançamento</h2>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" name="tipo" #tipo required></p-selectButton>
      </div>

      <div class="col-12 md:col-6 lg:col-3 p-fluid">
        <label>Vencimento</label>
        <!-- <p-calendar [showIcon]="true" [inline]="false" inputId="icon" dateFormat="dd/mm/yy" inputId="dateformat"
          name="calendar1" [required]="true">
        </p-calendar> -->

        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"
          ngModel #vencimento="ngModel" [required]="true"></p-calendar>

        <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>

      </div>

      <div class="col-12 md:col-6 lg:col-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar [showIcon]="true" [inline]="false" inputId="icon" dateFormat="dd/mm/yy" inputId="dateformat"
          name="calendar2">
        </p-calendar>
      </div>

      <div class="col-8 p-fluid">
        <!-- <label>Descrição {{ descricao.errors | json }}</label> para DEBUG-->
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required" text="Informe uma descrição."></app-message>


        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>

        <!--
          //validação direta sem o uso do modulo de mensagens
        <div *ngIf="descricao.hasError('required') && descricao.dirty" class="p-error">
          Informe uma descrição!
        </div> -->

        <!-- <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="p-error">
          Mínimo de {{ descricao.errors?.minlength.requiredLength }} caracteres. Você digitou apenas
          {{ descricao.errors?.minlength.actualLength }}.
        </div> -->

      </div>

      <div class="col-4 p-fluid">
        <label>Valor</label>
        <p-inputNumber inputId="locale-user" [minFractionDigits]="2" mode="currency" currency="BRL" locale="pt-BR"
          placeholder="0,00" name="valor" ngModel #valor="ngModel" required ></p-inputNumber>
      </div>

      <div class="field col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione uma Categoria" optionLabel="label" [showClear]="true">
        </p-dropdown>
      </div>

      <div class="field col-6 p-fluid">
        <label>Pessoa</label>
        <!-- <p-dropdown [options]="pessoas" placeholder="Selecione uma Pessoa" [showClear]="true" [filter]="true"></p-dropdown> -->
        <p-dropdown [options]="pessoas" placeholder="Selecione" [showClear]="true" [filter]="true" #pessoa></p-dropdown>



      </div>


      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" class="p-button-rounded"></textarea>
      </div>

      <div class="row col-12">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid" icon="pi pi-check"
          class="btnsalvar p-button-success p-button-rounded"></button>

        <button pButton type="submit" label="Cancelar" icon="pi pi-times"
          class="btncancelar p-button-danger p-button-rounded "></button>

        <button pButton type="submit" label="Novo Lançamento" icon="pi pi-plus"
          class="float-right p-button-rounded md-6 lg-3"></button>
      </div>

    </div>

  </form>
</div>
