<div class="container">
  <form #lancamentoForm="ngForm">

    <!-- Tela responsiva para celular com campos full -->

    <div class="card">
      <h2>Cadastro de Pessoas</h2>

      <div class="formgrid grid">

        <div class="field col-12 md:col-12">
          <label>Nome Completo</label>
          <input pInputText type="text" class="inputfield w-full"  name="nome"  ngModel #nome="ngModel" required minlength="8">

          <app-message [control]="nome" error="required" text="Informe o Nome Completo."></app-message>

          <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

        </div>

        <div class="field col-12 md:col-8">
          <label>Logradouro</label>
          <input pInputText type="text" class="inputfield w-full" name="logradouro"  ngModel #logradouro="ngModel" required minlength="5">

          <app-message [control]="logradouro" error="required" text="Informe o Logradouro"></app-message>

          <app-message [control]="logradouro" error="minlength" text="Mínimo de {{ logradouro.errors?.minlength?.requiredLength }} caracteres"></app-message>


        </div>

        <div class="field col-12 md:col-4 p-fluid">
          <label>Número de Telefone</label>
          <!-- <input pInputText type="text" class="inputfield w-full"> -->
          <p-inputMask mask="(99) 9 9999-9999" name="numero" ngModel #numero="ngModel" required ></p-inputMask>

          <app-message [control]="numero" error="required" text="Informe o Número."></app-message>

        </div>


        <div class="field col-12 md:col-4">
          <label>Complemento</label>
          <input pInputText type="text" class="inputfield w-full">
        </div>

        <div class="field col-12 md:col-4">
          <label>Bairro</label>
          <input pInputText type="text" class="inputfield w-full" name="bairro" ngModel #bairro="ngModel" required>

          <app-message [control]="bairro" error="required" text="Informe o Bairro."></app-message>

        </div>

        <div class="field col-12 md:col-4 p-fluid">
          <label>Cep</label>
          <p-inputMask mask="99999-999" name="cep" ngModel #cep="ngModel" required></p-inputMask>

          <app-message [control]="cep" error="required" text="Informe o Cep."></app-message>

        </div>

        <div class="field col-12 md:col-6">
          <label>Cidade</label>
          <input pInputText type="text" class="inputfield w-full" name="cidade" ngModel #cidade="ngModel" required>

          <app-message [control]="cidade" error="required" text="Informe a Cidade."></app-message>

        </div>

        <div class="field col-12 md:col-6">
          <label>Estado</label>
          <input pInputText type="text" class="inputfield w-full" name="estado" ngModel #estado="ngModel" required minlength="2">

         <app-message [control]="estado" error="required" text="Informe a Cidade."></app-message>

         <app-message [control]="estado" error="minlength" text="Mínimo de {{ estado.errors?.minlength?.requiredLength }} caracteres"></app-message>

        </div>

        <div class="row">
          <button pButton type="submit" label="Salvar"  [disabled]="lancamentoForm.invalid" icon="pi pi-check"
            class="btnsalvar p-button-success p-button-rounded"></button>

          <button pButton type="submit" label="Cancelar" icon="pi pi-times"
            class="btncancelar p-button-danger p-button-rounded "></button>

          <button pButton type="submit" label="Novo Lançamento" icon="pi pi-plus"
            class="float-right p-button-rounded "></button>
        </div>



      </div>
    </div>
  </form>
</div>
